<div class="relative flex-1  h-full shadow-md border border-black/[0.4] bg-white  flex flex-col p-1 items-center rounded-xl max-h-screen overflow-scroll"
  [ngClass]="{
    '':scholarPapers().length === 0,
    'items-center':scholarPapers().length > 0
  }">
  <div class="fixed z-10 bottom-5 left-5">
    
    @if(auth.sessions && auth.sessions.user.is_anonymous){
      <div (click)="auth.sign_in_oauth()" class="backdrop-blur-md  flex items-center py-1 px-1.5 pr-3 gap-2 group bg-black/[0.1] shadow border border-black/[0.06] hover:border-black/[0.1] rounded-xl text-xs font-light text-black/[0.7] cursor-pointer hover:bg-black/[0.2] hover:scale-[1.08] transition-all hover:shadow-xl">
        <img src="icon/ghost.svg" alt="sign In" class="opacity-70 h-6 hover:scale-[0.96] transition-all hover:opacity-85" title="No User Found">
        Sign In
      </div>
    }@else {
      <div (click)="auth.sign_out()" class="backdrop-blur-md  flex items-center py-1 px-1.5 pr-3 gap-2 group bg-black/[0.1] shadow border-black/[0.06] hover:border-black/[0.1] rounded-xl text-xs font-light text-black/[0.7] cursor-pointer hover:bg-black/[0.2] hover:scale-[1.08] transition-all hover:shadow-xl">
        <img [src]="auth.data()?.user.user_metadata.avatar_url" alt="user" class="rounded-full h-6 hover:scale-[0.96] transition-all hover:opacity-85" title="No User Found">
        Sign Out
      </div>
    }
    
  </div>
  

  <!-- SHOW CONVERSTAION WITH RAG BACKEND  -->
  @if(isSearched() && !Upsert_process()){
    <div class="relative grid min-h-[60vh] grid-cols-[1fr_2.5rem_auto_2.5rem_1fr] grid-rows-[1fr_1px_auto_1px_1fr] bg-white [--pattern-fg:var(--color-gray-950)]/5 dark:bg-gray-950 dark:[--pattern-fg:var(--color-white)]/10">
      <div class="col-start-3 row-start-3 flex flex-col bg-gray-100 px-3.5 dark:bg-white/10 relative">
        
        @for (item of message2Component(); track $index) {
          <app-ai-output [type]="item.type" [heading]="item.heading" [message]="item.content" class="-translate-y-3.5"/>
          
        }
      </div>
      <div class="relative -right-px col-start-2 row-span-full row-start-1 border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed"></div>
      <div class="relative -left-px col-start-4 row-span-full row-start-1 border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed"></div>
      <div class="relative -bottom-px col-span-full col-start-1 row-start-2 h-px bg-(--pattern-fg)"></div>
      <div class="relative -top-px col-span-full col-start-1 row-start-4 h-px bg-(--pattern-fg)"></div>
    </div>
  }

  <!-- ================================SEARCH LIST OF PAPERS: STARTS HERE=================================  -->
  <div class="flex-1 flex flex-col gap-5 items-center"
  [ngClass]="{
    '': isSearched(),
    'justify-center': !isSearched()
  }">

    <!-- SHOW SEARCHED LIST OF PAPERS  -->
    @if(currentPaper && !isSearched()){
      <app-papers (Upsert_process)="Close_upsert_process($event)" (paper_details)="upsert_paper_details($event)" [scholarPapers]="scholarPapers()" [currentPaper]="currentPaper"/>
    }

    @if(!isSearched() && !sementic_searched() ){
      <div class="text-xs font-light p-1 px-2.5 mb-10 rounded-xl bg-black/[0.05] border border-black/[0.08] text-black/[0.8]">
        An Advanced-Agentic RAG Application
      </div>
    }

  

    

    <!-- SEARCH FOR PAPERS  -->
    <div class="relative bg-black/[0.05] backdrop-blur-md rounded-2xl p-1.5 shadow-[2px_2px_0px_#00000020]"
    [ngClass]="{
      'relative':scholarPapers().length === 0,
      'absolute bottom-5 z-0':scholarPapers().length > 0 || !isSearched()
    }">

      <div class="flex flex-col justify-between w-[80vw] sm:w-[60vw] lg:w-[40vw] gap-1">
        <div class="flex justify-between items-center">
          <div>
            <!-- @if (isSearched()) {
              <div (click)="newSession()" class="px-2 text-xs font-light hover:text-blue-600 cursor-pointer">
                @Create New
              </div>
            } -->
            <div (click)="newSession('notdecided')" class="select-none cursor-pointer text-xs text-white ml-1 px-1.5 py-1 rounded-lg transition-all"
            [ngClass]="{
              'bg-yellow-400 border border-black shadow-[2px_2px_0px_#fdc70080] active:shadow-[1px_1px_0px_#fdc70080]':isSearched(),
              'border-black/[0.2] border bg-black/[0.6] shadow-[2px_2px_0px_#000000] active:shadow-[1px_1px_0px_#000000]':!isSearched()
              }">
              {{isSearched()?'@New Conversation':'@Search Pdfs'}}
            </div>
            
          </div>
          
          <div class="flex items-center gap-2">
            @if (searchlinkInput()) {
              <input 
              [ngModel]="searchlink()"
              (ngModelChange)="onSearchLinkChange($event)"
              type="text" class="text-black/[0.6] h-7 focus:outline-none hadow-xl border border-black/[0.1] shadow-black/[0.1] bg-white font-light text-xs p-1.5 px-3 rounded-xl  transition-all" placeholder="Paste the link of paper" >  
            }
            <!-- <div (click)="seachUsingLink()" class="cursor-pointer shadow-xl border border-black/[0.1] shadow-black/[0.1] hover:shadow-black/[0.2] bg-white font-light text-xs p-1.5 rounded-xl  transition-all">
              <img src="icon/clip_black.svg" class="h-4" alt="add_link">
            </div> -->
          </div>
          
        </div>
        <textarea
        [placeholder]="isSearched() ? 'Ask Selected Paper' : 'Search Papers Using Keywords'"
        [ngModel]="text()"
        
        (ngModelChange)="onUserNameChange($event)" 
        class="shadow-xl border-black/[0.2] border bg-white h-20 rounded-xl font-light text-sm text-black/[0.5] p-3 resize-none focus:outline-none"
        type="text" ></textarea>
      </div>


      <span class="absolute right-3 bottom-3 flex size-3">
        <span 
        class="relative inline-flex size-2.5 rounded-full flicker bg-black/[0.2]"
        [ngClass]="{
          'bg-transparent':isTouched() === false,
          'bg-black/[0.1]': timeLeftToSend() > 2,
          'bg-black/[0.7]': timeLeftToSend() === 2,
          'bg-black flicker_faster': timeLeftToSend() === 1,
          'bg-white flicker_faster': timeLeftToSend() === 0
        }"></span>
      </span>
    </div>

    <!-- -------------------------------------------------------------------- -->
    <!-- ==== START Component: Show the available examples of the papers ==== -->
    
    @if(!isSearched() && !sementic_searched()){
      <app-examples (Upsert_process)="Close_upsert_process($event)" (paper_details)="upsert_paper_details($event)"/>
    }
    
    <!-- ==== END Component: Show the available examples of the papers ====== -->
    <!-- -------------------------------------------------------------------- -->
     
    <!-- -------------------------------------------------------------------- -->
    <!-- ======== START Component: process & Status of Upserting  =========== -->

    

    <!-- ========= END Component: process & Status of Upserting ============= -->
    <!-- -------------------------------------------------------------------- -->
    
  </div>
  <!-- ================================SEARCH LIST OF PAPERS: ENDS HERE=================================  -->

</div>

@if (Upsert_process()) {
  <app-upsert-status 
  class="fixed" 
  (close_window)="Close_upsert_process($event)"
  [title]="paper_details().title" 
  [year]="paper_details().year"
  [author]="paper_details().author"
  [status]="Upsert_result_status()"
  />
}