fastapi
uvicorn
pydantic
typing
numpy
pinecone
PyMuPDF
python-dotenv
supabase
langchain-openai
langchain
langchain_text_splitters
langgraph
langchain_core
langchain_community
semanticscholar
beautifulsoup4
asyncio
fastmcp